cachetools==7.1.7
certifi==2026.7.22
cffi==2.1.1
chardet==7.6.0
charset-normalizer==3.5.1
cryptography==50.0.0
google-auth==2.56.3
google-auth-oauthlib==1.4.0
gspread==6.2.1
idna==3.19
lxml==6.1.2
numpy==2.5.2
oauthlib==3.3.1
pandas==3.0.5
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
python-dateutil==2.9.0.post0
pytrends==4.9.2
pytz==2026.3.post1
requests==2.34.2
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
urllib3==2.7.0
